:root {
  --color-cyan: #5fb4a2;
  --color-dark-blue: #203a4c;
  --color-grayish-dark-blue: #33323d;
  --color-very-light-grey: #fafafa;
  --color-light-grey: #eaeaeb;
  --color-bright-red: #f43030; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  background-color: #fafafa;
  padding: 3rem; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  text-transform: uppercase; }

.heading {
  font-family: 'Ibarra Real Nova', serif; }

.nav {
  position: relative; }
  .nav__logo {
    grid-column: 1 / 2; }
  .nav__menu {
    grid-column: 12 / 13;
    justify-self: end;
    cursor: pointer; }
  .nav__list {
    width: 223px;
    height: 186px;
    background-color: var(--color-grayish-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    border-radius: 0.5rem;
    position: absolute;
    top: 5rem;
    right: 0; }
  .nav__link {
    color: var(--color-very-light-grey);
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
    letter-spacing: 0.2rem; }

.u-grid {
  display: grid !important;
  grid-template-columns: repeat(12, 1fr) !important;
  gap: 1rem !important; }

.u-hidden {
  display: none !important; }
