:root {
  --color-cyan: #5fb4a2;
  --color-dark-blue: #203a4c;
  --color-grayish-dark-blue: #33323d;
  --color-very-light-grey: #fafafa;
  --color-light-grey: #eaeaeb;
  --color-bright-red: #f43030; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  background-color: #fafafa; }

.heading {
  font-family: 'Ibarra Real Nova', serif; }
