:root {
  //COLORS
  //PRIMARY
  --color-cyan: #5fb4a2;
  --color-dark-blue: #203a4c;
  --color-grayish-dark-blue: #33323d;
  //SECONDARY
  --color-very-light-grey: #fafafa;
  --color-light-grey: #eaeaeb;
  --color-bright-red: #f43030;

  --color-dark-gray: #9298ab;
  // --color-dark-slate-gray: #49506a;
  // --color-dark-slate-gray: #2a3144;
}

//RESPONSIVE BREAKPOINTS

//px / 16

$bp-md: 48em;
