.u-grid {
  display: grid !important;
  grid-template-columns: repeat(12, 1fr) !important;
  gap: 1rem !important;
}

.u-hidden {
  display: none !important;
}

.u-mb-sm {
  margin-bottom: 1rem;
}
.u-mb-md {
  margin-bottom: 2rem;
}
