.u-grid {
  display: grid !important;
  grid-template-columns: repeat(12, 1fr) !important;
  gap: 1rem !important;
}

.u-hidden {
  display: none !important;
}

.u-mb-sm {
  margin-bottom: 1rem !important;
}
.u-mb-md {
  margin-bottom: 2rem !important;
}

.u-container {
  padding: 3rem !important;

  @media only screen and (min-width: $bp-lg) {
    padding: 4rem 6rem !important;
  }

  @media only screen and (min-width: $bp-xl) {
    padding: 5rem 10rem !important;
  }
}
