*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  background-color: #fafafa;
}

// ul {
//   list-style-type: none;
// }

// a {
//   text-decoration: none;
// }

// input {
//   border: none;
//   outline: none;
// }
