.heading {
  font-family: 'Ibarra Real Nova', serif;
  color: var(--color-grayish-dark-blue);

  &-1 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    line-height: 4rem;
    font-size: 4rem;
  }

  &-2 {
    font-weight: 700;
    line-height: 4rem;
    font-size: 3.5rem;
  }

  //heading-3
  // font-weight: 400;
}

.paragraph {
  color: var(--color-grayish-dark-blue);
}
